# Change Pickle

In [3]:
import pandas as pd
import pickle

In [4]:
df = pd.read_csv('/home/jovyan/share/jcorner_data/classifications.csv')
df

,UNID,Class Code,Class Name,om,tz,st,stf,stn,mag,inj,...,f3,f4,fc,init_date,fmt_date,date_utc,yr,mo,dy,hr
0,199601030010z000000859,0,isolated_cell,859,3,SC,45,1,0,0,...,0,0,0,1996-01-02-18:10:00,1/2/1996 18:10,1/3/1996 0:10,1996,1,3,0
1,199601030020z000000860,0,isolated_cell,860,3,SC,45,2,0,0,...,0,0,0,1996-01-02-18:20:00,1/2/1996 18:20,1/3/1996 0:20,1996,1,3,0
2,199605022300z000000295,0,isolated_cell,295,3,MN,27,1,0,0,...,0,0,0,1996-05-02-17:00:00,5/2/1996 17:00,5/2/1996 23:00,1996,5,2,23
3,199605150140z000000715,0,isolated_cell,715,3,OK,40,20,0,0,...,0,0,0,1996-05-14-19:40:00,5/14/1996 19:40,5/15/1996 1:40,1996,5,15,1
4,199605160408z000000190,0,isolated_cell,190,3,NE,31,6,0,0,...,0,0,0,1996-05-15-22:08:00,5/15/1996 22:08,5/16/1996 4:08,1996,5,16,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5784,201710082137z000615804,5,tropical,615804,3,SC,45,0,1,0,...,0,0,0,2017-10-08-15:37:00,10/8/2017 15:37,10/8/2017 21:37,2017,10,8,21
5785,201710082140z000615805,5,tropical,615805,3,NC,37,0,1,0,...,0,0,0,2017-10-08-15:40:00,10/8/2017 15:40,10/8/2017 21:40,2017,10,8,21
5786,201710082151z000615806,5,tropical,615806,3,NC,37,0,0,0,...,0,0,0,2017-10-08-15:51:00,10/8/2017 15:51,10/8/2017 21:51,2017,10,8,21
5787,201710082201z000615807,5,tropical,615807,3,NC,37,0,1,0,...,0,0,0,2017-10-08-16:01:00,10/8/2017 16:01,10/8/2017 22:01,2017,10,8,22
5788,201710082245z000615808,5,tropical,615808,3,NC,37,0,1,0,...,0,0,0,2017-10-08-16:45:00,10/8/2017 16:45,10/8/2017 22:45,2017,10,8,22